/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/12/2019, 07:51:19
    Author     : root
*/
.pjeestadual
{
    -fx-background-color: #564875;
    -fx-text-fill: #FFFFFF;
}
.pjeestadual:hover{
     -fx-background-color: linear-gradient(to right, #564875 90%,transparent);
    -fx-text-fill: #FFFFFF;
}
.pjeestadual:pressed, pjeestadual:hover:pressed
{
    -fx-background-color: linear-gradient(to right, #564875 90%,transparent);
    -fx-text-fill: #FFFFFF;
}
.pjebtn
{
    -fx-background-color: #324d6b;
    -fx-text-fill: #FFFFFF;
}
.pjebtn:hover
{
    -fx-background-color: linear-gradient(to right, #324d6b 90%,transparent);
    -fx-text-fill: #FFFFFF;
}
.pjebtn:pressed, .pjebtn:hover:pressed
{
    -fx-background-color: linear-gradient(to right, #324d6b 90%,transparent);
    -fx-text-fill: #FFFFFF;
}

.stopbtn
{
    -fx-background-color: #942925;
    -fx-text-fill: #FFFFFF;
}
.stopbtn:hover
{
    -fx-background-color: linear-gradient(to right,#a83d39 84%,transparent);
    -fx-text-fill: #FFFFFF;
}
.stopbtn:pressed, .stopbtn:hover:pressed
{
    -fx-background-color: linear-gradient(to right,#a83d39 84%,transparent);
    -fx-text-fill: #FFFFFF;
}
.jfxJEF:hover
{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: linear-gradient(to right,#335769 90%,transparent);
    -fx-border-color: transparent;
}
.jfxJEF
{

    -fx-background-color: #0a3e7a;
    -fx-text-fill: #FFFFFF;
}
.jfxJEF:pressed, .jfxJEF:hover:pressed
{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: linear-gradient(to right,#305263 90%,transparent);
    -fx-border-color: transparent;
}

.buttonbancJEF
{
    -fx-background-color: #FFFFFF;
    -fx-text-fill:  #393838;
}
.buttonbancJEF:hover
{
    -fx-background-color: linear-gradient(to right,#d8e5f0 90%,transparent);
    -fx-text-fill: #393838;
    -fx-border-color: transparent;
}
.buttonbancJEF:pressed, .buttonbancJEF:hover:pressed
{
    -fx-background-color: linear-gradient(to right,#d8e5f0 90%,transparent);
    -fx-text-fill: #393838;
    -fx-border-color: transparent;
}
.controlbanc
{
    -fx-background-color: linear-gradient(from 600px 1000px to 260px 200px, #6c8494,#53a67e);
    -fx-text-fill: #e7e7e7;
}
.controlbanc:hover
{
    -fx-background-color: linear-gradient(to right,#53a67e 90%,transparent);
    -fx-text-fill: #e7e7e7;
}
.controlbanc:pressed, .controlbanc:hover:pressed
{
    -fx-background-color: linear-gradient(to right, #53a67e 90%, transparent);
    -fx-text-fill: #e7e7e7;
}
.buttonloginJEF
{
    -fx-background-color: #3f6b5c;
    -fx-text-fill: #ededed;
}
.buttonloginJEF:hover
{
    -fx-background-color: linear-gradient(to right,#3f6b5c 90%,transparent);
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
}
.buttonloginJEF:pressed, .buttonloginJEF:hover:pressed
{
    -fx-background-color: linear-gradient(to right,#3f6b5c 90%,transparent);
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
}