/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/08/2019, 11:29:51
    Author     : root
*/

*{
    -fx-primary:#2A2E37;
    -fx-secundary:  #3498db;
    -fx-primarytext: #FFFFFF; 
}

.root {
    -fx-background-color: -fx-primary;
}
.button{
    -fx-text-fill: -fx-primarytext;
}
.button:hover
{
    -fx-background-color:  #F08080;
    -fx-text-fill: #2A2E37;
     -fx-border-color:#F08080;
}
.button:pressed, .button:hover:pressed
{
    -fx-background-color: #f09d92;
    -fx-text-fill: #e7e7e7;
    -fx-border-color: #f09d92;
}
.login{
    -fx-border-color: #B2B2B2;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #2A2E3D;
}
